*.pth filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
proteome_pretrain/data/alignment_data.txt filter=lfs diff=lfs merge=lfs -text
*.part_* filter=lfs diff=lfs merge=lfs -text
